/* Loader Starts Here */
/* Loader */

.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#FF4A17;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader h1 {
    font-size: 8vh;
    color: white;
    font-family: "Raleway", sans-serif;
    margin-bottom: 6vh;
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}


.loader::after {
    content: "";
    height: 2.5rem;
    width: 2.5rem;
    border: 5px solid whitesmoke;
    border-top-color: #FF4A17;
    font-family: 'Roboto Slab', serif;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

/*Loader Ends Here  */


/* Utility Classes */
.roboto {
    font-family: "Roboto", sans-serif;
  }
  
  .garamond {
    font-family: "EB Garamond", serif;
  }
  
  .krub {
    font-family: "Krub", sans-serif;
  }
  
  .raleway {
    font-family: "Raleway", sans-serif!important;
  }
  .bottomLine {
    margin-bottom: 0px !important;
  }
  
  .bottomLineExt::after {
    content: "_____";
    display: block;
    color: #aabbd7;
    height: auto;
    width: auto;
    margin: auto auto;
  }
  
  .orange {
    color: #e03a3c;
  }
  .bgOrange {
    background-color: #e03a3c;
  }
  .colorDarkBlue {
    color: #2d405f !important;
  }
  .red{
      color: #E03A3C;
  }
  .bgRed{
      background-color: #E03A3C;
  }
  
  .borderRed{
      border: 2px solid #E03A3C;
  }
  .bgDarkBlue {
    background-color: #2d405f !important;
  }
  
  .lightBlue {
    color: #3b54f8;
  }
  
  .bgGain {
    background-color: #f6f7ff;
  }
  
  .txtGray {
    color: #444444;
  }
  
  .borderLight {
    border: 1px solid white;
  }

  .borderLight2 {
  
    border: 1px solid gainsboro;
    border-radius: 3px;
}

  
  .scale {
    transform: scale(2.5);
    margin-top: 1.2rem !important;
    margin-right: 1.8rem !important;
  }
  .font15px{
    font-size: 15px;
}

.font16px{
    font-size: 16px;
}

.font18px{
    font-size: 18px;
}

.font20px{
    font-size: 20px;
}

.font22px{
    font-size: 22px;
}

.font24px{
    font-size: 24px;
}

.font36px{
    font-size: 36px;
}
.font30px{
    font-size: 30px;
}

.font48px{
    font-size: 48px;
}

.font14px{
    font-size: 13px;
}
  


.openSans {
    font-family: 'Open Sans', sans-serif;
}

.garamond {
    font-family: 'EB Garamond', serif;
}

.font-900 {
    font-weight: 2rem !important;
}

.font-size-2rem {
    font-size: 1.8rem !important;
}

.font-size-1rem {
    font-size: 1rem !important;
}

.width-9rem {
    width: 9.3rem !important;
}

.bg-gainsboro {
background-color:#E5EDF3;
font-weight: lighter;

}

.bg-orange{
    background-color: #FF4A17!important;
}

.bg-navy{
    background-color: #121D24;
}
.input-padding{
    padding: 7px 12px;
}

.vh-79{
    height: 79vh;
}
.color-7777{
    color: #777777;
}
.color-navy{
    color: #263D4D;
}
.color-f3-bg{
    background-color: #F3F5F5;
}
.color-white-bg{
    background-color: white;
}

.outline-lightis{
    outline-color: #ebe5e5;
}

.border-radius{
    border-radius: 5px 0px 0px 5px;
}
.border-radius2{
    border-radius: 0px 5px 5px 0px;
}
/* On Scroll Classes */
.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.display-none {
    display: none !important;
}

ul li::before {
    content: attr(data-icon);
    /* Make slightly larger than the li font-size
    but smaller than the li gap */
    font-size: 1.25em;
    
    padding-right: 0.3rem  ;
  }
/* <!-- Section 1 starts here --> */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

/* On Hover Classes*/

.color-gray-hover:hover{
    color: gainsboro!important;
}

.bg-white-color-orange-hover2:hover{
    color: #FF4A17!important;
    background-color: white!important;
    transition: white, 0.5s;
}
 .bg-white-color-orange-hover:hover{
    #sun, h4 , button {
        color: #FF4A17!important;
    } ;

    background-color: white!important;
    transition: white, 0.5s;
}
.color-white-bg-orange-hover:hover{
    color: white!important;
    background-color: #FF4A17;
    transition: white, 0.5s;

}

.color-orange-hover:hover{
    
    color: #FF4A17!important;
    transition: color, 0.5s;

}
/* For Navbar when it is on white background */
.nav-colored{
    background-color: #121d24bb!important;
    height: 6rem;
    z-index: 8;
    overflow: hidden;
    transition: 1.5s;
}
.sec1 {
    height: 100vh;
    background-image: url("assets/img/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgb(91, 91, 91);
    overflow-y: hidden;
}

/* Section 3 starts here */
nav ul li{
font-size: 14px;
text-transform: uppercase;
}

.sec3{
    background-image: url("assets/img/about-boxes-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0.867);
    background-blend-mode: lighten;
    
}

/* Section 4 starts here */

/* Section 6 starts here */
.sec6{
    background-color: #F0F4F8;
    color: #365870;
}

.sec6 p{
    color: black;
    font-weight: lighter;
}

/* Section (Clients) starts here */

.secClients {
    background-color: #f6f7ff;
  }
  
  .secClients .col-lg-2 {
    width: 8rem;
  }
  
  .secClients img {
    /* padding: 90%; */
    filter: grayscale(100%) !important;
   
  }
  
  .secClients img:hover {
    filter: grayscale(0%) !important;
    transition: filter 1s;
  }
  
  /* Section (Clients) Ends Here */
/* Section 7 starts here */
.sec7 {
    height: auto !important;
    background-image: url("assets/img/testimonials-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color:  gray;
    color: white;
    overflow-y: hidden;
}

/* Section 9 Starts here */
.sec9{
    background-color: #F0F4F8;
}
.box {
    width: 85% !important;
    margin: 0px auto;
    position: relative;
    bottom: 3rem;
    background-color: white;
    height: auto!important;
    box-shadow: 1px 1px 7px gray;
}

/* Section 11 starts here */

.sec11{
    background-color: #15222B;
    color: white;

}

/* Footer starts here */

footer{
    height: 15vh;
}